.product {
  display: flex;
  gap: 20px;
}

.product__image {
  border: 1px solid darkgray !important;
}

.product__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__title {
  line-height: 1;
  font-size: 1rem;
}

.product__price {
  font-weight: bold;
}

.product__price--old {
  color: gray;
  font-size: 0.8rem;
}